:root {
    --fundo: linear-gradient(to bottom, #00b5bb 0%, #004fbeef 40%, #d8efff 85%);
}

body {
    background: var(--fundo);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

h1 {
    background-color: blue;
}